<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hecorea.common.dao.BoardMainDAO">
	<!-- 게시물 디테일 -->
	<select id="selectBoardDetail" parameterType="String" resultType="hashmap">
		SELECT a.user_id AS "userId"
			, a.ntt_sj AS "nttSj"
			, a.ntt_cn AS "nttCn"
			, c.user_nm AS "userNm"
			, to_char(a.regist_dt, 'YYYY-MM-DD') AS "registDt"
			, CASE 
				WHEN b.file_code IS NOT NULL THEN b.file_code
				ELSE '-999'
			END AS "fileCode"
			, CASE 
				WHEN b.file_nm IS NOT NULL THEN b.file_nm
				ELSE '-999'
			END AS "fileNm"
			, CASE 
				WHEN b.real_file_nm IS NOT NULL THEN b.real_file_nm
				ELSE '-999'
			END AS "realFileNm"
		FROM tn_ntt_info a
		INNER JOIN tn_user_info c
		ON a.user_id = c.user_id
		LEFT OUTER JOIN tn_ntt_file b
		ON a.ntt_code = b.ntt_code
		WHERE a.use_yn = 'y'
		AND a.ntt_code = CAST(#{nttCode} AS INTEGER)
		LIMIT 1
	</select>
	
</mapper>